/* General styles */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #d5e5ea;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body p{
    color: rgb(88, 91, 93);
    font-size: large;
}
/* Navbar styles */
.navbar {
    margin-bottom: 20px;
    background-color: #3e81c3; /* Dark background for the navbar */
}

.navbar-brand, .navbar-nav .nav-link {
    color: rgb(40, 45, 50); 
}

.navbar-brand:hover, .navbar-light, .navbar-nav .nav-link:hover {
    color: #0056b3; /* Light blue color on hover */
}

.navbar-light .navbar-brand, .navbar-light .nav-link {
    color: #343a40; /* Darker text for better readability */
}


/* Centering the search bar */
.navbar .navbar-nav {
    flex: 1;
    justify-content: center;
}

#searchbar {
    flex: 2;
    justify-content: center;
}

#searchbar .form-inline{
    background: rgb(202, 215, 229);
}



/* Home page specific styles */
.home-header {
    background-image: url('path/to/your/background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-header h1 {
    font-size: 3rem;
    margin: 0;
}

.home-header p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.container {
    padding: 20px;
}

.form-inline {
    margin-top: 20px;
}

  
  h1, h2 {
    margin-bottom: 20px;
  }
  
  form {
    background: rgb(244, 245, 246);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Hero Section */
.hero {
    background-image: url("images/hero-background.jpg"); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  /* Featured Doctors Section */
  .featured-doctors {
    padding: 50px 0;
  }
  
  .featured-doctors .row {
    margin-bottom: 30px;
  }
  
  /* Why Choose Us Section */
  .why-choose-us {
    padding: 50px 0;
  }
  
  .why-choose-us i {
    font-size: 3em;
    margin: 15px;
  }